<section class="leaderboard">
  <md-tab-group>
  <md-tab>
    <ng-template mat-tab-label>
      NCAA Top 25 Picks
    </ng-template>
    <h1>Top Scores for Week: 1</h1>
    <app-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-table>
  </md-tab>
  <md-tab>
    <ng-template mat-tab-label>
      NFL Pick 2
    </ng-template>
    <h1>Top Scores for Week: 1</h1>
    <app-table [displayedColumns]="displayedColumns" [dataSource]="dataSource"></app-table>
  </md-tab>
</md-tab-group>
</section>
