<footer class="footer-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <span class="box">Created by Jtongay<sup>&trade;</sup> Development</span>
      </div>
      <div class="col-md-6">
        <span class="box">Created by Jtongay<sup>&trade;</sup> Development</span>
        <p class="email-link">
          <a href="mailto:joseph.tongay@gmail.com" class="social-links">
            <i class="fa fa-envelope"></i>
            <span>Email Me</span>
          </a>
        </p>
        <p class="github-link">
          <a href="https://github.com/JTongay/college-pickem" class="social-links">
            <i class="fa fa-github-alt"></i>
            <span>View code</span>
          </a>
        </p>
      </div>
    </div>
  </div>
</footer>
