@import "../theme/themes.scss";

.footer-section {
  background-color: black;
  color: white;
  height: 160px;
  &:before {
    width: 100%;
  }
  
  .social-links {
    cursor: pointer;
    text-decoration: none;
    color: white;
  }
}
