<section class="matchup-ncaa">
  <h1>College Matchups</h1>
  <form novalidate
        class="picks"
        #submitPicksForm="ngForm"
        (ngSubmit)="submitSelections(makePick)">
      <div class="container">
        <div class="row matchup">
          <md-radio-group class="example-radio-group" [(ngModel)]="makePick" [ngModelOptions]="{standalone: true}">
            <div class="col-md-5">
              <md-radio-button class="example-radio-button" 
              [value]="currentMatchup.away.team_name">
                <span *ngIf="currentMatchup.away.rank !== 'unranked'">
                    <span *ngFor="let location of currentMatchup.away.team_location">{{location}} </span>
                <sup>{{currentMatchup.away.rank}}</sup> {{currentMatchup.away.team_name}}
                </span>
                <span *ngIf="currentMatchup.away.rank === 'unranked'">
                    <span *ngFor="let location of currentMatchup.away.team_location">{{location}} </span> {{currentMatchup.away.team_name}}
                </span>
              </md-radio-button>
            </div>
            <div class="col-md-2">
              <span>{{currentMatchup.away.abbrev}} vs. {{currentMatchup.home.abbrev}}</span>
            </div>
            <div class="col-md-5">
              <md-radio-button class="example-radio-button" [value]="currentMatchup.home.team_name">
                <span *ngIf="currentMatchup.home.rank !== 'unranked'">
                    <span *ngFor="let location of currentMatchup.home.team_location">{{location}} </span>
                <sup>{{currentMatchup.home.rank}}</sup> {{currentMatchup.home.team_name}}</span>
                <span *ngIf="currentMatchup.home.rank === 'unranked'">
                      <span *ngFor="let location of currentMatchup.home.team_location">{{location}} </span> {{currentMatchup.home.team_name}}
                </span>
              </md-radio-button>
            </div>
          </md-radio-group>
        </div>
      </div>
    <button md-raised-button color="accent" type="submit" class="sub-button">Submit</button>
  </form>
</section>
