@import "../theme/themes.scss";

.matchup-ncaa {
  padding: 45px;
  .matchup {
    padding: 45px;
    .team-img {
      margin: 0 auto;
      width: 200px;
      height: 175px;
    }
  }
  .versus {
      text-align: center;
      margin: 0 auto;
      font-size: $subHeadline;
    }
}
