@import "../theme/themes.scss";

.navbar {
  background-color: mat-color($primary);
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.container-main {
  margin-right: auto;
  margin-left: auto;
  padding-left: 0px;
  padding-right: 0px;
}
