<form action="" class="season-form" [formGroup]="seasonForm" (ngSubmit)="submitSeason(seasonForm)">
  <md-radio-group formControlName="league">
    <md-radio-button *ngFor="let league of possibleLeagues" [value]="league">
      {{league}}
    </md-radio-button>
  </md-radio-group>
  <md-form-field>
    <input mdInput [mdDatepicker]="startDate" placeholder="Season Start" formControlName="startDate">
    <md-datepicker-toggle mdSuffix [for]="startDate"></md-datepicker-toggle>
    <md-datepicker #startDate></md-datepicker>
  </md-form-field>
  <md-form-field>
    <input mdInput [mdDatepicker]="endDate" placeholder="Season End" formControlName="endDate">
    <md-datepicker-toggle mdSuffix [for]="endDate"></md-datepicker-toggle>
    <md-datepicker #endDate></md-datepicker>
  </md-form-field>
  <md-radio-group formControlName="activeSeason">
    <md-radio-button *ngFor="let status of possibleStatus" [value]="status.value">
      {{status.text}}
    </md-radio-button>
  </md-radio-group>  
  <button md-raised-button color="accent" type="submit" class="sub-button">Submit</button>
</form>
