@import "../theme/themes.scss";

.season-form {
  md-form-field {
    margin: auto;
    display: block;
    width: 100%;
    padding: 5px;
  }
  md-radio-group {
    margin: auto;
    width: 100%;
    md-radio-button {
      display: block;
      padding: 5px;
    }
  }
}
