<form action="" class="season-form" [formGroup]="seasonForm" (ngSubmit)="submitSeason(seasonForm)">
  <md-radio-group formControlName="league">
    <md-radio-button *ngFor="let league of possibleLeagues" [value]="league">
      {{league}}
    </md-radio-button>
  </md-radio-group>
  <md-form-field>
    <input mdInput [mdDatepicker]="picker" placeholder="Season Start" formControlName="startDate">
    <md-datepicker-toggle mdSuffix [for]="picker"></md-datepicker-toggle>
    <md-datepicker #picker></md-datepicker>
  </md-form-field>
  <md-form-field>
    <input mdInput [mdDatepicker]="picker2" placeholder="Season End" formControlName="endDate">
    <md-datepicker-toggle mdSuffix [for]="picker2"></md-datepicker-toggle>
    <md-datepicker #picker2></md-datepicker>
  </md-form-field>
  <md-form-field>
    <input type="text" mdInput formControlName="activeSeason" placeholder="activeSeason">
  </md-form-field>
  <button md-raised-button color="accent" type="submit" class="sub-button">Submit</button>
</form>
