<section class="login">
  <h1 class="login-title">Log in to access your account</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="game-title">NCAA Top 25 Picks</h3>
        <img class="img-responsive logos" src="./assets/College_Football_Playoff_logo.png" alt="College Logo">
      </div>
      <div class="col-md-6">
        <app-login-form></app-login-form>
      </div>
      <div class="col-md-3">
        <h3 class="game-title">NFL Pick 2 Challenge</h3>
        <img class="img-responsive logos" src="./assets/nfl-logo.png" alt="NFL Logo">
      </div>
    </div>
  </div>
  <p>Disclaimer: You're a bitch.</p>
</section>
