<div class="layout">
  <app-navbar [isOpen]="openIt" (openSideNav)="openNav($event)"></app-navbar>
  <div class="side-nav-container" [ngClass]="{'open': openIt, 'closed': !openIt}">
    <span class="close-btn" (click)="closeNav($event)">
      <i class="fa fa-times-circle-o" aria-hidden="true"></i>
    </span>
    <span class="nav-items" [routerLink]="['']" (click)="closeNav($event)">Home</span>
    <span class="nav-items" [routerLink]="['signup']" (click)="closeNav($event)">Signup</span>
    <span class="nav-items" [routerLink]="['login']" (click)="closeNav($event)">Login</span>
    <span class="nav-items" [routerLink]="['leaderboard']" (click)="closeNav($event)">Leaderboards</span>
  </div>
  <div class="container-fluid">
    <router-outlet></router-outlet>
  </div>
  <app-footer></app-footer>
</div>
