<form class="signup-form">
  <md-form-field>
    <input mdInput placeholder="First name" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput placeholder="Last name" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput placeholder="Username" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput placeholder="Password" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput placeholder="Email" class="name">
  </md-form-field>
  <button md-raised-button color="primary" class="name">Primary</button>
</form>
