<form class="signup-form" novalidate autocomplete="off" [formGroup]="signupForm">
  <md-form-field>
    <input mdInput formControlName="firstName" placeholder="First name" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput formControlName="lastName" placeholder="Last name" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput formControlName="userName" placeholder="Username" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput formControlName="password" type="password" placeholder="Password" class="name">
  </md-form-field>
  <md-form-field>
    <input mdInput formControlName="email" placeholder="Email" class="name">
  </md-form-field>
  <button md-raised-button color="primary" type="submit" class="sub-button">Submit</button>
</form>
