<section class="college-rules">
  <h1>NCAA Top 25 Pick Challenge</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Here are the rules....</h2>
        <ul>
          <li>All games available are matchups that involve a College team in the top 25.</li>
          <li>There will always be an underdog.</li>
          <li>You must pick who will win each matchup.</li>
          <li>Your personal score will automatically update every Monday at noon.</li>
          <li>An Email will be sent to you every Monday giving you an update on your score, and your ranking compared to other players.</li>
          <li>Another Email will get sent to you every Wednesday to remind you to make your selections if you haven't.</li>
          <li>The following shows the scoring breakdown:</li>
          <ul>
            <li> - 1pt - You choose the correct winner and the team was favored</li>
            <li> - 3pt - You choose the correct winner and the team was an underdog</li>
            <li> - 0pt - You choose incorrectly</li>
          </ul>
        </ul>
        <button md-raised-button color="primary" [routerLink]="['pick']">Go to picks</button>
      </div>
      <div class="col-md-6">
        <img class="img-responsive logos" src="./assets/College_Football_Playoff_logo.png" alt="College Logo">
      </div>
    </div>
  </div>
</section>
