<section class="nfl-rules">
  <h1>NFL Pick 2 Challenge</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <h2>Here are the rules....</h2>
        <ul>
          <li>You have to pick 2 games every week.</li>
          <li>You may not choose the same team twice.</li>
          <li>Selections can only be made before kickoff of that game.</li>
          <li>Once you choose a team to win, you may no longer select that team in future matchups.</li>
          <li>Scores will automatically update every Tuesday afternoon.</li>
          <li>You will be sent an email if you have not made your selections about 4 hours before first kickoff.</li>
          <li>You will be sent an email on Tuesday evening of your updated scores, available picks, and leaderboards.</li>
          <li>The following shows the scoring breakdown</li>
          <ul>
            <li> - 50pts - Your pick wins.</li>
            <li> - 5pts - For each Touchdown your winning team scores (Only if your team wins).</li>
            <li> - 3pts - For each Field Goal your winning team scores (Only if your team wins).</li>
            <li> - 2pts - For each Safety your winning team is awared (Only if your team wins).</li>
            <li> - 0pts - Your pick loses.</li>
          </ul>
        </ul>
      </div>
      <div class="col-md-6">
        <img class="img-responsive logos" src="./assets/nfl-logo.png" alt="NFL Logo">
      </div>
    </div>
  </div>
</section>
