<section class="welcome-section">
  <div class="container">
    <div class="row choose-game">
      <div class="col-md-6 game-links">
        <h2 class="titles">College Top 25 Pick 'Em</h2>
        <img class="img-responsive logos" src="./assets/College_Football_Playoff_logo.png" alt="College Logo">
      </div>
      <div class="col-md-6 game-links">
        <h2 class="titles">NFL Pick 2</h2>
        <img class="img-responsive logos" src="./assets/nfl-logo.png" alt="NFL Logo">
      </div>
    </div>
  </div>
</section>
