<section class="signup">
  <h1 class="register">Register for the games</h1>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3 class="game-title">NCAA Top 25 Picks</h3>
        <img class="img-responsive logos" src="./assets/College_Football_Playoff_logo.png" alt="College Logo">
      </div>
      <div class="col-md-6">
        <app-form></app-form>
      </div>
      <div class="col-md-3">
        <h3 class="game-title">NFL Pick 2 Challenge</h3>
        <img class="img-responsive logos" src="./assets/nfl-logo.png" alt="NFL Logo">
      </div>
    </div>
  </div>
  <p>Maybe I'll send an email once a week reminding you to make your picks and update you on your score if you're lucky</p>
</section>
